.subscriptions {
  &.app-container {
    .app-container__section {
      max-width: 1200px;
    }
  }
  &__subscription {
    margin-top: 222px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    &__image {
      max-width: 567px;
      flex-shrink: 0;

      img {
        width: 100%;
      }
    }

    &__text {
      h1 {
        max-width: 363px;
        font-weight: 500;
        line-height: 53px;
        margin-bottom: 24px;
      }

      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: rgba(var(--black3-rgb), 0.9);
        max-width: 549px;
      }
    }
  }

  &__payment {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 228px;
    margin-bottom: 214px;
  }
}
