.card-container {
  &__image {
    border-radius: 12px 12px 0px 0px;
    max-width: 360px;

    img {
      width: 100%;
    }
  }

  &__text {
    padding: 31px 32px 32px;

    h3 {
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.2px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: rgba(var(--black3-rgb), 0.9);
      margin-top: 12px;
      margin-bottom: 37px;
      max-width: 296px;
    }
  }
}
