.base-button {
  border-radius: 6px;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 18.5px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;

  &--primary {
    @extend .base-button;
  }

  &--secondary {
    @extend .base-button;
    color: var(--primary-color);
    background: var(--white);
    border: 1px solid var(--primary-color);
  }

  &__icon {
    img {
      display: flex;
      align-items: center;
    }
  }
}
