.management-container {
  padding-left: 20px;
  padding-right: 20px;

  &__section {
    max-width: 1170px;
    margin: 165px auto 200px;

    h2 {
      line-height: 57px;
      margin-bottom: 32px;
      max-width: 546px;
    }

    &__description {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__image {
        max-width: 577px;

        img {
          width: 100%;
        }
      }

      &__text {
        h4 {
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: -0.01em;
          color: var(--black);
          margin-bottom: 40px;
          max-width: 493px;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: var(--black3);
          max-width: 439px;
        }
      }
    }
  }
}
