.navbar-container {
  padding-left: 20px;
  padding-right: 20px;
  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 32px;

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        margin-left: 50px;

        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: var(--black);

          &:hover,
          &:active {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
