.navbar {
  &.app-container {
    .app-container__section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding-top: 32px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      margin-left: 50px;

      .nav-links {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: var(--black);

        &.active::after {
          content: '';
          width: 16px;
          height: 2px;
          background: var(--primary-color);
          border-radius: 100px;
          margin-top: 6px;
          display: block;
        }

        &:hover,
        &.active {
          color: var(--primary-color);
        }
      }
    }
  }
}
