.hero-container {
  padding-left: 20px;
  padding-right: 20px;

  &__section {
    max-width: 1233px;
    margin: 0 auto;
    display: flex;
    margin-top: 68px;

    &__text {
      margin-top: 118px;
      margin-right: 34px;
      h1 {
        font-weight: 500;
        line-height: 53px;
        max-width: 493px;
      }
      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: var(--black3);
        max-width: 567px;
        margin-top: 24px;
        margin-bottom: 46px;
      }
      .register {
        margin-right: 24px;
      }
      img {
        margin-top: 50px;
        width: 518px;
      }
    }

    &__image {
      max-width: 632px;

      img {
        width: 100%;
        // transform: translate(33px, 0);

      }
    }
  }
}
